---
---

@import "{{ site.theme }}";
.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: #559966;
  // background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  background-image: none;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
